extends ../common/layout

block content
    div(ng-app).container-fluid
        form.form-inline(action='/register',method='POST')
            .form-group
                label 手机号
                input.form-control(type='text',name='mobile_phone',placeholder='输入手机号以注册',ng-model='phone')
            .form-group
                label 密码
                input.form-control(type='password',name='password', placeholder='输入密码')
                button.btn.btn-primary(type='submit') {{phone}}发送验证码
